In [1]:
import pandas as pd
import numpy as np
import torch
from tqdm.notebook import tqdm

from transformers import BertTokenizer
from torch.utils.data import TensorDataset

from transformers import BertForSequenceClassification

from matplotlib import pyplot as plt
import seaborn as sns

import sklearn
from sklearn.metrics import classification_report, confusion_matrix

In [4]:
df = pd.read_csv('./../labeledTweets/allLabeledTweets.csv')
df = df[['id', 'message', 'label']]
df = df.drop_duplicates()

df.head()

        id                                            message  label
0  1478404  Tiek vērtēti trīs potenciālie airBaltic invest...      0
1  1478695  Augulis: #airBaltic “potenciālie pircēji ir no...      0
2  1478812  airBaltic uzsāks lidojumus uz diviem jauniem g...      0
3  1479295  Ministrs: Sarunas turpinās ar trīs potenciālaj...      0
4  1480097  @krisjaniskarins @Janis_Kazocins @EU2017EE Net...      0

In [5]:
newLine ="\\n|\\r"
df['clean_message'] = df['message'].str.replace(newLine,' ',regex=True).str.strip()
df.head()

,id,message,label,clean_message
0,1478404,Tiek vērtēti trīs potenciālie airBaltic invest...,0,Tiek vērtēti trīs potenciālie airBaltic invest...
1,1478695,Augulis: #airBaltic “potenciālie pircēji ir no...,0,Augulis: #airBaltic “potenciālie pircēji ir no...
2,1478812,airBaltic uzsāks lidojumus uz diviem jauniem g...,0,airBaltic uzsāks lidojumus uz diviem jauniem g...
3,1479295,Ministrs: Sarunas turpinās ar trīs potenciālaj...,0,Ministrs: Sarunas turpinās ar trīs potenciālaj...
4,1480097,@krisjaniskarins @Janis_Kazocins @EU2017EE Net...,0,@krisjaniskarins @Janis_Kazocins @EU2017EE Net...

In [12]:
df['clean_message'][1]

'Augulis: #airBaltic “potenciālie pircēji ir no visas pasaules”  Kipra, Kaimanu salas, Soči vai Kaļiņingrada? 🤔 https://t.co/1geYcHB894'

In [7]:
tokenizer = BertTokenizer.from_pretrained('bert-base-multilingual-cased', do_lower_case=False)

In [18]:
%pprint

Pretty printing has been turned OFF

In [19]:
ids = tokenizer.encode(df['clean_message'][1], max_length=512, truncation=True)
ids

[101, 53012, 52393, 131, 108, 12566, 11274, 22897, 11130, 100, 15050, 10136, 10598, 58118, 10112, 24109, 46382, 73108, 10478, 10192, 62665, 51550, 100, 28941, 30631, 117, 26387, 103604, 48461, 117, 12882, 15515, 14332, 25444, 55553, 45039, 10376, 19162, 136, 100, 14120, 131, 120, 120, 188, 119, 11170, 120, 122, 10525, 14703, 10350, 12396, 11274, 11396, 11373, 11011, 102]

In [20]:
tokens = tokenizer.convert_ids_to_tokens(ids, skip_special_tokens=False)
tokens

['[CLS]', 'Aug', '##ulis', ':', '#', 'air', '##B', '##alt', '##ic', '[UNK]', 'pot', '##en', '##ci', '##āli', '##e', 'pi', '##rc', '##ēji', 'ir', 'no', 'visas', 'pasaules', '[UNK]', 'Ki', '##pra', ',', 'Kai', '##manu', 'salas', ',', 'So', '##či', 'vai', 'Ka', '##ļi', '##ņi', '##ng', '##rada', '?', '[UNK]', 'https', ':', '/', '/', 't', '.', 'co', '/', '1', '##ge', '##Y', '##c', '##H', '##B', '##8', '##9', '##4', '[SEP]']